.room {
    width: 50%;
    padding: 5px 10px;

    background-color: hsl(0, 0%, 15%);
    border-radius: 5px;

    transition: all 0.25s;
}

.room:hover {
    cursor: pointer;
    background-color: hsl(0, 0%, 20%);
    transform: scale(1.1);
}

.room > *:last-child {
    margin-bottom: 10px;
}

.room > * {
    margin: 0px;
}

.room-name {
    margin-bottom: 20px;
}
