#messages-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    width: 80%;
    margin: auto;

    padding: 20px max(5vw, 10px);
    background-color: hsl(0, 0%, 10%);
    border-radius: 5px;
}

.message-wrapper {
    border-radius: 100px;
}

.message {
    font-size: clamp(0.9em, 1.5vw, 1.175em);
    overflow-wrap: break-word;

    margin: 12px 20px;
}