* {
    font-family: 'Noto Sans JP';
}

body {
    background-color: hsl(0, 0%, 7%);
    color: white;
}

button {
    cursor: pointer;

    border: none;
    border-radius: 20px;

    color: white;
    font-size: 1.3em;
    padding: 5px 20px;

    background: linear-gradient(to bottom right, hsl(166, 28%, 41%), hsl(166, 39%, 54%));

    transition: transform 0.25s;
}

button:hover {
    transform: scale(1.1);
}

textarea, input[type="text"] {
    resize: none;

    border: none;
    border-radius: 2px;

    background-color: hsl(0, 0%, 25%);
    color: white;
}
